body {
  background-image: url('../Images/body.jpg');
  background-attachment: fixed;
  background-size: 100%;
}

@font-face {
	font-family: header_font;
	src: url('../Fonts/Zen_Dots/ZenDots-Regular.ttf');
}

h1 {
	font-family: header_font;
	text-shadow: 2px 2px #000000;
}

h2 {
	font-family: header_font;
	text-shadow: 2px 2px #000000;
}

hr{
	color: #FFFFFF;
}

#topbar{
	background-color: #FFFFFF;
	width: 100%;
}
