@font-face {
	font-family: header_font;
	src: url('../Fonts/Zen_Dots/ZenDots-Regular.ttf');
}

nav {
	background-color: green;
	height: 80px;
}

nav ul {
	float: right;
	margin: 0px;
	line-height: 80px;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: yellow;
	font-family: 'Courier New', Courier, monospace;
	padding: 10px;
	border-radius: 3px;
	font-weight: bold;
	text-shadow: 2px 2px #000000;
}

nav ul li a:hover {
	background-color: lightgreen;
	transition: 0.5s;
}

.topbar {
	display: grid;
	grid-template-columns: 25% 75%;
	background-color: rgb(162, 202, 206);
}

.left {
	height: 70%;
	width: 70%;
	margin: auto;
}

.left img {
	border-radius: 50%;
}

.right {
	margin: auto;
}

h1 {
	font-family: header_font;
	text-shadow: 2px 2px #000000;
}

h2 {
	font-family: header_font;
	text-shadow: 2px 2px #000000;
}

table{
	border-collapse: collapse;
	width: 100%;
}

table, td, th{
	border: 1px solid green;
}

hr{
	color: green;
}

#header{
	background-color: green;
	color: red;
	width: 100%;
}
